# Dependencies
node_modules/
.angular/

# Build
dist/
build/
out/
*.tsbuildinfo

# Environment & secrets
.env
.env.local
.env.*.local

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs & coverage
logs/
*.log
npm-debug.log*
coverage/
.nyc_output/

# Misc
*.tgz
.cache/
.tmp/
.vercel/
